.bgimage {
    background-image: url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F03251D4451E7A24C0F);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    
}